body{
    background-color:white;
    color:black;
}
h1{
    text-align:start;
    font-family: Arial, Helvetica, sans-serif;
    color:red;
}

textarea {
    resize: none;
    text-align: end;
}

input.operador {
    background-color: #FF6666;
    color: black;
}

input.func {
    background-color: blue;
    color: white;
}

#botones {
    display: grid;
    grid-template-columns: 5em 5em 5em 5em;
}

#enter {
    margin: 0.7em;
    width: 21.7em;
    border-radius: 0.5em;
}

#botones input {
    margin: 0.7em;
    width: 3.6em;
    border-radius: 15%;
}